{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="container">
    <h1>Listado de armas</h1>
    <table class="highlight" id="armaTabla">
          <thead>
            <tr>
                <th>tipo</th>
                <th>precio</th>
                <th>material</th>
                <th class="center">Vista rapida</th>
                <th class="center">Modificar</th>
                <th class="center">Eliminar</th>

            </tr>
          </thead>
          <tbody>
            {% for arma in armas %}
              <tr>
                <td>{{ arma.precio|e }}</td>
                <td>{{ arma.car|e }}</td>
                <td>{{ arma.fue }}</td>
                <td class="center">
                  <a href="#modal1" class=" btn-floating btn-flat blue modal-trigger" title="Ver observaciones">
                       <i class="material-icons">remove_red_eye</i>
                  </a>
                </td>
                <td class="center">
                  <a href="#" class=" btn-floating btn-flat green" title="Ver observaciones">
                       <i class="material-icons">mode_edit</i>
                  </a>
                </td>
                <td class="center">
                  <a href="#" class=" btn-floating btn-flat red" title="Ver observaciones">
                       <i class="material-icons">delete_forever</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
             <ul class="pagination pager" id="myPager"></ul>
           </div>
       </div>
    </div>
</div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
   <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
   <script type="text/javascript" src="{{ asset('js/listadoArmas.js') }}"></script>
{% endblock %}
