{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="container">    
    <div class="row">
  <div class="col s12">
    <form id="example-form">
      <div>
      <h3>Inf Personal</h3>
    <section>
        <div class="row">
          <div class="input-field col s12">
            <input name="nombre-aventurero" id="nombre-aventurero" type="text" class="validate">
            <label for="nombre-aventurero">Nombre del aventurero</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select name="especie">
              <option value="" disabled selected>Tipo de Especie</option>
              <option value="1">Humano</option>
              <option value="2">Elfo</option>
              <option value="3">Trol</option>
            </select>
            <label>Especie</label>
          </div>
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Tipo de Raza</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Raza</label>
          </div>  
          <div class="input-field col s6">
            <div class="row">
              <div class="input-field col s6 l6 m6">
                <input name="edad-aventurero" id="edad-aventurero" type="text" class="validate">
                <label for="edad-aventurero">Edad del aventurero</label>
              </div>
              <div class="input-field col s6 l6 m6">
                <a href="#" class=" btn-floating btn-flat green" id="dadosEdad" title="Tirar dados" data-cantidad="2" data-dado="6">
                      <i class="material-icons">autorenew</i>
                  </a>
              </div>
            </div>            
          </div>
          <div class="input-field col s6" >
            <div class="row">
              <div class="input-field col s6 l6 m6">
                <select>
                  <option value="" disabled selected>Religi贸n</option>
                  <option value="1">Religi贸n 1</option>
                  <option value="2">Religi贸n 2</option>
                </select>
                <label>Religi贸n</label>
              </div>
              <div class="input-field col s6 l6 m6">
                <a href="#" class=" btn-floating btn-flat green" title="Tirar dados">
                  <i class="material-icons">autorenew</i>
                </a>
              </div>
            </div>
          </div>
          <div class="input-field col s6" >
              <select>
                <option value="" disabled selected>Genero</option>
                <option value="1">Masculino</option>
                <option value="2">Fenenino</option>
              </select>
            <label>Genero</label>
          </div>
          <div class="input-field col s12 l6 m6">
            <input name="procedencia-aventurero" id="procedencia-aventurero" type="text" class="validate">
            <label for="procedencia-aventurero">Procedencia del aventurero</label>
          </div>
          <div class="input-field col s12 l6 m6">
            <input name="profesion-padres-aventurero" id="profesion-padres-aventurero" type="text" class="validate">
            <label for="profesion-padres-aventurero">Profesion de los padres</label>
          </div>
          <div class="input-field col s6 l6 m6">
            <input name="altura-aventurero" id="altura-aventurero" type="text" class="validate">
            <label for="altura-aventurero">Altura del aventurero</label>
          </div>
          <div class="input-field col s6 l6 m6">
            <input name="peso-aventurero" id="peso-aventurero" type="text" class="validate">
            <label for="peso-aventurero">Peso del aventurero</label>
          </div>
          <div class="input-field col s6" >
            <select>
              <option value="" disabled selected>Cultura</option>
              <option value="1">Cultura 1</option>
              <option value="2">Cultura 2</option>
            </select>
            <label>Cultura</label>
          </div>
      </div>
    </section>
      <h3>Profile</h3>
      <section>
        <div class="row">
          <div class="input-field col s6">
            <label>Begin date</label>
            <input id="beginDate" type="date" class="datepicker">

          </div>
          <div class="input-field col s6">
            <label>End date</label>
            <input id="endDate" type="date" class="datepicker">

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Who is organizing the event?" id="organizer" type="text" class="validate">
            <label for="organizer">Organizer</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="http://www.mywebsite.com" id="website" type="text" class="validate">
            <label for="website">Website</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="contact@myweb.com" id="email" type="text" class="validate">
            <label for="email">Contact email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea" length="140"></textarea>
            <label for="description">Describe the event in a tweet!</label>
          </div>
        </div>
      </section>
      </div>
    </form>
  </div>
</div>

    </form>
  <div class="container">
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/jquery.steps.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/armas.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/utilities.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/personaje.js') }}"></script>

{% endblock %}

